.board-title{
    margin-top: 40px;
}

.meet-board{
    padding-bottom:20px;
}

.board-members-list{

    li{
        padding-bottom:50px;
    }

}

.our-model{
    margin-bottom:40px;
}

.get-involved{
    padding:10px;
}

.get-involved-title{
 text-align:left;
 margin-bottom:-15px;
}