.page-id-78{
    .site-content{
        margin-top: 4rem;
    }
    .main{
        h3, h4, p, span, div, nav, i{
        font-family: $font__main !important;
        color: $color__green !important;
    }
    }
    
    .custom-header{
        background-color: white;
        i:before{
            color: $color__green !important;
        }
        .totalsoft-caret-right:before{
            content: ">";
        }
        .totalsoft-caret-left:before{
            content: "<";
        }
        h3{
            font-family: $font__main !important;
            color: $color__green !important;
        }
    }
    .fc-head{
        div{
            background-color: white;
        }
    }
    .fc-body{
        border: none !important;
        .fc-row{
            border: none !important;
            div{
                border: none !important;
            }
            .fc-today{
                border: 3px solid $color__green !important;
                border-radius: 5rem;
                background-color: transparent;
            }
            }
    }
    
    .fc-content{
        background: $color__blue !important;
        border-radius: 5rem;
        :after{
            div{
                color: $color__blue !important;
            }
        }
        span{
            color: white !important;
        }
        }
    .custom-content-reveal{
        border: 3px solid $color__blue;
        border-radius: 10px;
        h4{
            background-color: white;
            border: none;
            margin-bottom: 0 !important;
        }
        .TotalSoftcalEvent_Title{
            background-color: white !important;
        }
        .totalsoft-times:before{
                content: "x";
        }
    }
    .contact-ca{
        margin-top: 2rem;
        a{
            color: $color__blue !important;
            font-weight: 100;
            font-size: 20px;
        }
    }
}