/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

// Green box container
.green-box {	
    background-color: $color__green;
	text-align: center;
	color: white;
}

// Red button styling
.red-btn {
        display:inline-block;
        text-align:center;
        width:150px;
        text-decoration: none;
        background: $color__red;
        padding:10px 20px;
        color:white;
        border-radius:5px;
        transition: box-shadow 0.2s;
        border:none;
        outline:none;
        cursor:pointer;
        &:hover {
	        box-shadow: 2px 2px 2px #888888 ;
	    }
	    &:active {
	        box-shadow: none;  
	}
}

.blue-btn {
	@extend .red-btn;
	background: $color__blue;
}

/* Posts and pages */

