/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    font-family: $font__main;
    font-size: 14px;
    text-align:center;
    @include desktop {
        font-size: 16px;
    }
}

h1 {
    font-size: 2rem;
    color:$color__green;
    text-align: center;
    padding:10px 20px;
}

h2 {
    font-size: 1.5rem;
     color:$color__green;
    text-align: center;
    padding:10px 20px;
}

p {
    font-size: 1rem;
    font-weight:100;
    padding:10px 20px;
    color:$color__green;
    text-align:left;
}

.strong{
    font-weight: bold;
}
