/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html{
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font__main;
    font-size: 20px;
    text-align:center;
    height: 100%;
    @include desktop {
        font-size: 18px;
    }
}

.site-content{
    height: 100vh;
    max-height: 100%;
}


a{
    font-weight:bold;
    color:$color__green;
}

h1 {
    font-size: 2rem;
    color:$color__green;
    text-align: center;
    padding:10px 20px;
}

h2 {
    font-size: 1.5rem;
     color:$color__green;
    text-align: center;
    padding:10px 20px;
}

p {
    line-height:1.4;
    font-weight:100;
    padding:10px 20px;
    color:$color__green;
    text-align:left;
}

.green-box p,
.green-box h2,
.green-box a {
    color: white;
}

.strong{
    font-weight: bold;
}
