
.body-fill{
  height:100vh;
    position:relative;
}

.footer-drop{
 position:absolute;
    bottom:0;
}

.faq-page{

    @include desktop{
        width:500px;
        margin: 0 auto;
    }
    
.we-have-answers{
    display:none;
 @include desktop {
       display:block;
       text-align:center;
    }
}
.btn-container{
    // min-width: 400px;
    // padding: 40px 0 10px 0;
    display:flex;
    justify-content: space-around;
    padding: 30px 10px 30px 10px;

   .blue-btn{
    // margin: 10px 15px;
   }
}
.faq-parents-hide{
    display:none;
}

.faq-youth-hide{
    display:none;
}



}