.site-footer {
    text-align: center;
    height: 145px;
    background-color: $color__lightblue;
    .site-info{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        a{
            color: white;
            font-weight: lighter;
            width: 30%;
        }
    }
    p{
        color: white;
        font-family: $font__main;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
    }
    .social-icon-footer{
        color: white;
        font-size: 50px;
    }
}