.site-footer {
    text-align: center;
    height: 145px;
    width: 100%;
    background-color: $color__lightblue;
    margin-top: 2rem;
    .site-info{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 30%;
        padding-top: 0.5rem;
        margin-bottom: 1.2rem;
        a{
            color: white;
            font-weight: 100;
            flex: 1 1 33%;
            margin-bottom: 0.8rem;
        }
    }
    p{
        color: white;
        font-family: $font__main;
        font-size: 12px;
        line-height: 16px;
        font-weight: 100;
    }
    .social-icon-footer{
        margin: 0.5rem;
        color: white;
        font-size: 32px;
        .fa-facebook{
            margin-right: 0.7rem;
        }
        .fa-twitter{
            margin-left: 0.7rem;
        }
    }
}