.site-header{
    height: 60px;
    @include desktop {
            height: 230px;
    }
    .site-branding{
        display: none;
    }
    .header-desktop{
        background-color: $color__lightblue;
        .container-desk{
            display: none;
            @include container;
        @include desktop {
            height: 150px;
            color: white;
            display: flex;
            justify-content: space-between;
        }
        .header-logo{
            @include desktop{
                height: 140px;
                width: 140px;
                margin: 0.7rem 0 0 3rem;
            }
        }
        .title-desktop{
            @include desktop{
                text-align: left;
                font-family: $font__subheader;
                margin-top: 0.7rem;
            }
            h1{
                @include desktop{
                    color: white;
                    font-size: 37px;
                    font-weight: 100;
                    margin-bottom: 0.5rem;
                    padding: 0;
                }
            }
            span{
                @include desktop{
                    font-size: 24px;
                    font-weight: 100;
                }
            }

        }
        
    }
        .info-text{
            margin: 2.5rem 3rem 0 0;
            p,a{
                color: white;
                font-size: 18px;
                margin-bottom: 1rem;
                padding: 0;
                text-decoration: none;
                font-weight: 100;
            }
            i{
                font-size: 24px;
                margin-left: 1rem;
            }
            
        }
    }
}