.page-id-135{
    p{
        text-align: left;
    }
    .our-story-logo{
        img{
            height: 200px;
            margin-bottom: 2rem;
        }
    }
    .our-mission-image{
        height: 220px;
        width: 100%;
        img{
            height: 220px;
            width: 100%;
            object-fit: cover;
        }
    }
    .our-story-green-box{
        background: #52aa8a url(../../images/foryouthbyyouth_yellow.svg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 0 2rem 0;
        height: 220px;
    }
    .how-we-run{
        .green-box{
            @include desktop{
                border-radius: 10px;
            }
        }
    }
}