.page-id-137{
    .bloc{
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
    h1{
        margin-bottom: 3rem;
    }
    h2{
        text-align: left;
    }
    .youth-council{
        margin-top: 2rem;
    }
    .peer-leaders.bloc{
        padding-bottom: 0.1rem;
    }
    .youth-council-image, .board-directors-image{
        img{
            margin-bottom: 2rem;
        }
    }
    .youth-council, .peer-leaders{
        background-color: $color__green;
        @include desktop{
            border-radius: 10px;
        }
        h2,p{
                color: white;
        }
        h2{
            padding-top: 2rem;
        }
    }
    @include desktop{
        .site-content{
        img{
            width: 80%;
        }
        }
    }
}