.page-id-135{
    p{
        text-align: center;
    }
    .our-mission-image{
        height: 220px;
        width: 100%;
        img{
            height: 220px;
            width: 100%;
        }
    }
    .green-box{
        background: #52aa8a url(../../images/foryouthbyyouth_yellow.svg) no-repeat 50%;
        margin-top: 0;
        height: 220px;
    }

    
}