/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.page-template-front-page {
    div {
        padding: 2rem 0;
    }
    h2 {
        text-transform: capitalize;
    }
    span.uppercase{
        text-transform: uppercase;
    }
    .for-youth-yellow {
        background: $color__green url('../../images/foryouthbyyouth_yellow.svg') no-repeat center center;
        background-size: contain;
        height: 250px;
        width: auto;
    }
    .front-page-social-media {
        background: $color__yellow;
        color: white;
        font-size: 3rem;
    }
}