/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.page-template-front-page {

    .site-content {
        width:1200px;
        div {
            padding: 3rem 0;
        }
    }
    h2 {
        text-transform: capitalize;
    }
    .for-youth-yellow {
        background: $color__green url('../../images/foryouthbyyouth_yellow.svg') no-repeat center center;
        background-size: contain;
        height: 250px;
        width: auto;
    }
    .front-page-social-media {
        background: $color__yellow;
        color: white;
        font-size: 3rem;
    }

    .front-page-sponsors-list{
        width:600px;
        margin:0 auto;

        display:flex;
        flex-direction: row;
        flex-wrap:wrap;

        li{
            flex-basis: 33%;
            padding:20px;
            align-self:center;

        }
    }
}