.privacy-jump-to {
    // margin-bottom: 40px;
    h2 {
        padding-bottom: 20px;
    }
    a {
        text-decoration: none;
    }
    border: 2px solid $color__blue;
    border-radius: 15px;
    padding: 30px 0;
    margin: 0 20px 40px 20px;
    @include desktop {
        display: inline-block;
        width: 700px;
        transform: translateX(-100px);
    }
    .jump-to-list {
        display: flex;
        flex-direction:column;
        padding-left:20px;
        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 50px;
        }
        li {
            text-align: left;
            color: $color__green;
            margin: 8px 0px 8px 0;

             &:focus {
                outline: none;
            }
           
            @include desktop {
                flex-basis: 50%;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.privacy-content-list{
    li:focus{
        outline:none;
    }
}

.back-to-top {
    display: block;
    text-align: right;
    font-weight: 100;
    font-size: 0.75rem;
    padding-right: 20px;
}

.privacy-policy-title {
    font-weight: bold;
}

.privacy-policy-entry {
    padding-bottom: 30px;
}