.page-template-page-program-seasonal {
    .site-main {
        .subtitle {
            @extend h1;
        }
        h1.page-title {
            padding-bottom: 0;
            margin-bottom: .8rem;
        }
        .program-header-image {
            margin: 3rem 0;
        }
        ul {
            list-style: disc outside none;
            color: $color__green;
            font-weight: 100;
            text-align: left;
            line-height: 1.4;
            padding: 0 1.5rem 0 2.5rem;
        }
        .for-youth-green {
            background: url('../../images/foryouthbyyouth_green.svg') no-repeat center center;
            background-size: 80%;
            height: 175px;
        }
        .green-box {
            margin: 3rem 0;
            padding: 2rem 0;
            & p {
            text-align: center;
            }
            @include desktop {
                padding: 2rem 2rem 1rem 2rem;
            }
        }
        .program-leaders-wrapper {
            margin-top: 1rem;
            display: flex;
            justify-content: space-around;
            & p {
                text-align: center;
            }
            & img {
                width: 125px;
                height: 125px;
                object-fit: cover;
                border-radius: 100px;
            }
        }
        .program-details-wrapper {
            @include desktop {
                display: flex;
                margin: 0;
                .program-details-when,
                .program-details-where {
                    flex: 1 1 50%;
                }
            }
        }
        a {
            margin: 2rem;
        }
        .register-btn {
            @extend .red-btn;
            text-transform: uppercase;
            width: 86%;
            margin-bottom: 2rem;
            @include desktop {
                margin: 2rem 0;
                width: 50%;
            }
        }
        .faq-parents {
            margin-bottom: 0;
        }
    }
}