.page-template-page-program-leadership {
    @extend .page-template-page-program-seasonal;
    .site-main {
        p,
        .green-box p {
            text-align: left;
        }
        .program-header {
            .blue-btn {
                margin-bottom: 0;
            }
        }
        .program-header-image {
            margin: 3rem 0;
        }
        
    }
    a.apply-btn {
        @extend .red-btn;
        text-transform: uppercase;
        margin: 2rem 0;
        width: 90%;
        @include desktop {
            width: 500px;
        }
    }
}