
 #gform_2,
 #gform_wrapper_2 {
     position: relative;
     margin-top: 120px;
      ::placeholder {
         font-weight: 100;
         color: $color__lightgrey;
         font-size: 1.1rem;
     }
     .gf_progressbar_title {
         display: none;
     }
     .gf_progressbar_wrapper {
         padding: 0 20px;
     }

     ul{
        //  display:flex;
        //  flex-direction:row;
        //  flex-wrap:wrap;
     }
     li {
         &:not(:first-child) {
             padding: 0 20px;
         }
         margin-top:40px;

         @include desktop{
            //  float:left;
             display:inline;
         }
     }
     label {
         display: none;
     }
     h1 {
         height: auto;
         background: none;
         color: $color__green;
         position: absolute;
         top: -100px;
         left: 0;
     }
     input {
         border-radius: 10px;
         padding: 0 5px;

         @include desktop{
              padding:5px 4px;
              margin-top:8px;
         }
     }
     .gf_progressbar {
         background: none;
         border: 2px solid $color__green;
         .gf_progressbar_percentage,
         .percentbar_100 {
             background: $color__green;
         }
     }

     
     .gform_page_footer {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-around;
         border: none;
     }
  


     input[type=submit],
     input[type=button] {
         box-shadow: none;
         text-shadow: none;
         width: 170px;
         padding:0;
         margin: 16px 0;
         @extend .blue-btn;

         @include desktop{
             padding:10px;
         }
     }

     .camp-dates{
         ul{
              display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;

        li{
            width:50%;
            margin: 10px 0;
        }
         }
       
     }

     .gfield_radio,
     .gfield_checkbox {

         label {
             display: inline-block;
         }
     }
     p {
         color: black;
         font-size: 1rem;
         text-align: left;
     }
     .show-medical-consent,
     .show-participation-consent,
     .show-transportation-consent {
         text-align: right;
         font-size: 0.6rem;
         text-decoration: underline;
         padding-top: 0;
         margin-top: -30px;
         &:hover {
             cursor: pointer;
         }
     }
     .participation-consent-info,
     .transportation-consent-info,
     .medical-consent-info {
         text-align: left;
     }
     .consent-hide {
         display: none;
     }
 }
 
 select {
     margin: 0;
     border-radius: 10px;
     /*Removes border*/
     -webkit-appearance: none;
     /*Removes default chrome and safari style*/
     -moz-appearance: none;
     /*Removes default style Firefox*/
     background: none;
     border-color: #cccccc;
     margin-left: 0 !important;
     font-size: 1.1rem !important;
     padding: 8px 2px !important;
     font-weight: 100;

     @include desktop{
         margin-top:7.5px !important;
          padding: 5.5px 2px !important;
     }
 }
 
 #field_2_15 {
     width: 75%;
 }
 
 #input_2_16 {
     display: flex;
     flex-direction: row;
     width: 100px;
     position: absolute;
     top: 425px;
     right: 10px;
       @include desktop{
         top: 405px;
     right: 150px;
     }
     li {
         display: flex;
         flex-direction: row;
         margin: 0 10px;
     }
 }


 .ginput_container{
      @include desktop{
        //  padding:0;
        // display:inline;
     }
 }
 
    .ginput_container_fileupload{
        display:flex;
        justify-content: center;
        margin-left:-10px;

    }

        input[type=file] {
            width:300px !important;
            margin-left:-30px !important;
            height: 50px !important;
            box-sizing: border-box !important;
            outline:none;
           

            &:before {
                @extend input[type=submit];
                
                content: "Upload a Photo";
                position: relative;
                top: 10px;
                margin-left:20px !important;
                width:100% !important;
                height:40px !important;
               
            }
        }

       
.gfield_course_option_wrapper{

    ul{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;

        li{
            input{
            width:200px !important;
            }
        }
    }

}

.gform_page_fields{
    display:flex;
    flex-direction:row;
    flex-direction:wrap;
}

.flex-wrap{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.flex50{
    width:50%;
}

.flex100{
    width:100%;
}