 .gform_fields {
     padding: 0 20px !important;
      ::placeholder {
         color: $color__lightgrey;
     }
     h1 {
         background: none !important;
         color: $color__green !important;
     }
     input {
         border-radius: 10px !important;
     }
     label {
         visibility: hidden;
         width: 0.1;
         height: 0.1;
         margin: 0.1;
         padding: 0.1;
         position: relative;
     }
     label>.gfield_required {
         position: absolute;
         left: calc(100vw - 60px) !important;
         top: 40px;
         visibility: visible;
         @include desktop {
             left: 546px !important;
             top: 32px;
         }
     }
     select {
         margin: 0;
         border-radius: 10px;
         -webkit-appearance: none;
         -moz-appearance: none;
         background: white;
         border-color: #cccccc;
         margin-left: 0 !important;
         padding: 10px 2px !important;
         @include desktop {
             margin-top: 0 !important;
             padding: 4px 2px !important;
         }
     }
     .ginput_container_fileupload {
         display: flex;
         justify-content: center;
         margin-left: -10px;
     }
     input[type=text] {
         color: black;
         @include desktop {
             width: 100% !important;
         }
     }
     input[type=file] {
         width: 300px !important;
         margin-left: -30px !important;
         height: 50px !important;
         box-sizing: border-box !important;
         outline: none;
         &:before {
             @extend input[type=submit];
             content: "Upload a Photo";
             position: relative;
             top: 10px;
             margin-left: 20px !important;
             width: 100% !important;
             height: 40px !important;
         }
     }
     .gfield_radio,
     .gfield_checkbox {
         label {
             visibility: visible !important;
         }
     }
 }
 
 .camp-dates {
     ul {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;
         li {
             width: 50%;
             margin: 10px 0;
         }
     }
 }
 
 #gform_2 {
     .gfield {
         padding-right: 0px !important;
     }
     .gform_page_footer {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-around;
         border-top: none;
     }
     input[type=submit],
     input[type=button] {
         box-shadow: none;
         text-shadow: none;
         width: 170px;
         padding: 0;
         margin: 16px 0;
         @extend .blue-btn;
         @include desktop {
             padding: 10px;
         }
     }
     p {
         color: black;
         font-size: 1rem;
         text-align: left;
     }
     .show-medical-consent,
     .show-participation-consent,
     .show-transportation-consent {
         text-align: right;
         font-size: 0.6rem;
         text-decoration: underline;
         padding-top: 0;
         margin-top: -15px;
         &:hover {
             cursor: pointer;
         }
     }
     .participation-consent-info,
     .transportation-consent-info,
     .medical-consent-info {
         text-align: left;
     }
     .consent-hide {
         display: none;
     }
    
 }
 
 .weight-wrapper {
     .gfield_course_option_wrapper {
         ul {
             display: flex;
             flex-direction: row;
             flex-wrap: nowrap;
         }
     }
     input[type=text] {
         @include desktop {
             width: 340px !important;
         }
     }
     .medium {
         width: 60vw !important;
     }
     label {
         display: inline !important;
     }
     .gfield_radio {
         width: 40vw !important;
         display: flex;
         flex-direction: row;
         li {
             margin: 0 10px !important;
             @include desktop {
                 margin-top: -6px !important;
                 height: 30px;
             }
         }
     }
 }
 
 #gform_confirmation_wrapper_2 {
     a {
         margin: 30px 0;
     }
 }

 .form-info-heading{
     p{
         margin-top:40px;
         margin-bottom:-50px;
    text-align: center !important;
    font-weight:bold !important;
     }
 }

  #gf_progressbar_wrapper_2{
         background: none;
        //  border: 2px solid $color__green;
         .gf_progressbar_percentage,
         .percentbar_100 {
             background: $color__green !important;
         }
     }