.page-template-page-resources-learning {
    .site-main {
        @include desktop {
            width: 600px;
            margin: 0 auto;
            text-align: center;
            margin: 3rem 0;
        } 
        h1 {
            padding-bottom: 1.5rem;
            margin: 0;
        }
        ul {
            list-style: none;
            color: $color__green;
            font-weight: 100;
            text-align: left;
            line-height: 1.4;
            padding: 1.5rem 15px 0 1.5rem;
        }
    }
}

.page-template-page-resources-opportunities {
    @extend .page-template-page-resources-learning;
    h2 {
        text-align: left;
        padding: 1.1rem 0 0 0;
    }
    ul {
        & p,
        & h2 { 
            padding-left: 0;
            padding-right: 0; 
        }
    }
}