.page-id-80 {
    .site-main {
        h1.entry-title {
            @extend .page-title;
            padding-bottom: 2rem;
            @include desktop {
                padding-bottom: 0;
            }
        }
        form {
            padding: 5%;
        }
        input[type=text], 
        textarea {
            border: 1px solid $color__blue;
            font-family: 'montserrat', sans-serif;
            border-radius: 10px;
            &:focus {
                border-width: 2px;
                outline: none;
            }
        }

        .gform_footer{
            display:flex;
            justify-content: center;
            margin-top:-20px;
        }
        .gform_footer input[type=submit] {
            @extend .blue-btn;
            @include desktop {
                width: 500px;
                height: 55px;
            }
        }
        .ginput_container_post_image{
            display: flex !important;
            justify-content: center !important;
            margin-top:30px !important;
        }
        
        input[type=submit] {
            box-shadow: none;
            text-shadow: none;
            width: 170px;
            padding: 0;
            margin: 16px auto;
            @extend .blue-btn;
            @include desktop {
                padding: 10px;
            }
        }
        #field_3_1,
        #field_3_2 {
            padding: 0;
        }
        #field_3_3 label {
            display: none;
        }
        .testimonials h2 {
            text-align: left;
            margin-bottom: 2rem;
        }
        .latest-posts {
            img {
                width: 150px;
                height: 150px;
                border-radius: 100px;
                object-fit: cover;
                margin-bottom: .8rem;
            }
            .post-name {
                color: $color__green;
            }
            p {
                text-align: left;
            }
            .entry-content {
                margin-bottom: 2rem;
            }
            @include desktop {
                display: flex;
                margin-bottom: 2.5rem;
                .post-name {
                    flex: 1 1 33%;
                }
                .entry-content {
                    flex: 2 1 66%;
                }
            }
        }
    }
}
#gform_3{
    @include desktop{
     margin-top:-80px;
    }
}

.post-type-archive-testimonial {
    @extend .page-id-80;
    h1.page-title {
        height: auto;
        margin-bottom: 3rem;
        @include desktop {
            margin-bottom: 0;
        }
    }
    .blue-btn {
        @include desktop {
            width: 500px;
            margin-top: 2rem;
        }
    }
}