// Structure
$desktop-width: 642px;


// Colors
$color__background-body: #fff;

$color__green: #52AA8A;
$color__lightblue: #78AEE1;
$color__blue: #006BBC;
$color__yellow: #F9F296;
$color__red: #F82C3F;

$color__lightgrey: #a9a9a9;


// Typography

$font__main: 'montserrat';
$font__subheader: 'capriola';

