.page-id-139{

   
    h2{
        text-align: center;
    }
    .volunteering-for-cts{
        margin-top: 2rem;
    }
    .the-board{
        background-color: $color__green;
        h2,p{
                color: white;
        }
        h2{
            padding-top: 2rem;
        }
    }
    .blue-btn{
                margin: 2rem;
            }
    @include desktop{
        .volunteering-for-cts{
            margin: 2rem 0 2rem 0;
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.3rem;
            }
        }
        .the-board{
            p{
                padding-left: 5rem;
            }
            h2{
                padding-top: 3rem;
            }
            img{
                width: 80%;
            }
            border-radius: 10px;
        }
        .mentorvisors{
            margin-top: 2rem;
            p{
                padding-left: 5rem;
            }
            img{
                width: 80%;
            }
        }

        }

        .the-board, .mentorvisors{

             ul{
                
                 width:300px;
                 margin-left:20%;
                @include desktop{
                    margin-left:160px;
               
                }
        li{
            margin: 8px 0;
            text-align:left !important;
            list-style: disc !important;
            color:white;
            font-weight: 100;
        }
    }
        }

        .mentorvisors{
                li{
                     color:$color__green !important;
                }
            
           
        }
    
}